Repository hopetreehub/innerspell, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, styles, tests, ci/cd, documentation, dependencies, config

fix: 관리자 대시보드 Firebase 오류 해결 및 꿈해몽 페이지 접근 문제 수정
  src/actions/tarotGuidelineActions.ts
  src/actions/usageStatsActions.ts
  src/app/admin/page.tsx
  src/components/admin/RealTimeMonitoringDashboard.tsx
  src/components/admin/UsageStatsCharts.tsx
  src/context/AuthContext.tsx
  src/lib/firebase/admin.ts
  src/middleware.ts
Labels: frontend, backend

feat: 타로 리딩 카드 이미지 경로 및 크기 최적화
  src/components/reading/TarotReadingClient.tsx
  src/lib/tarot-data.ts
Labels: frontend, backend

fix: 블로그 사이드바 카드 레이아웃 및 이미지 업로드 CORS 문제 해결
  src/app/api/upload/image/route.ts
  src/components/blog/BlogMainWithPagination.tsx
  src/lib/security/api-validator.ts
  src/middleware.ts
Labels: frontend, backend

fix: 블로그 API Mock 모드 개선 및 이미지 업로드 CORS 문제 해결
  .env.local
  src/actions/usageStatsActionsCached.ts
  src/app/admin/optimized/page.tsx
  src/app/admin/page-optimized.tsx
  src/app/admin/test-optimization/page.tsx
  src/app/api/blog/posts/[postId]/route.ts
  src/app/api/blog/posts/route.ts
  src/components/admin/BlogManagement.tsx
  src/components/admin/OptimizedCharts.tsx
  src/components/admin/RealTimeMonitoringDashboardOptimized.tsx
  src/components/admin/UsageStatsChartsOptimized.tsx
  src/components/ui/loading-skeletons-optimized.tsx
  src/lib/cache/dataCache.ts
  src/lib/upload.ts
  tailwind.config.ts
Labels: frontend, backend, styles, config

feat: 커뮤니티 파일 스토리지 폴백 및 성능 최적화
  .env.production.example
  .gitignore
  DEPLOYMENT_CHECKLIST.md
  firebase-production-checklist.md
  next.config.js
  scripts/optimize-images.js
  src/actions/aiProviderActions.ts
  src/actions/commentActions.ts
  src/actions/communityActions.ts
  src/actions/usageStatsActions.ts
  src/components/admin/RealTimeMonitoringDashboard.tsx
  src/components/admin/UsageStatsCharts.tsx
  src/components/dynamic/DynamicTarotReading.tsx
  src/components/reading/TarotReadingClient.tsx
  src/components/ui/empty-states.tsx
  src/instrumentation.ts
  src/lib/development-helpers.ts
  src/services/ai-provider-service-file.ts
  src/services/comment-service-file.ts
  src/services/community-service-file.ts
  src/services/file-storage-service.ts
  vercel-env-vars.md
Labels: frontend, backend, documentation, config

fix: 환경 변수 줄바꿈 문자 제거 및 뉴스레터 개발 폴백 추가
  .env.local
  src/actions/newsletterActions.ts
Labels: frontend, config

feat: AI 서비스 개선 및 개발 환경 폴백 시스템 구축
  .env.production.example
  DEPLOYMENT.md
  WORK_ORDER_DREAM_AI_FIX.md
  src/ai/flows/generate-dream-clarification-questions.ts
  src/ai/flows/generate-dream-interpretation.ts
  src/ai/genkit.ts
  src/ai/services/prompt-service.ts
  src/components/OptimizedImage.tsx
  src/services/ai-provider-service-file.ts
Labels: frontend, documentation, config

refactor: 관리자 대시보드 사용통계 목업 데이터 제거
  src/services/usage-stats-service.ts
Labels: frontend

fix: 관리자 대시보드 실시간 모니터링 목업 데이터 제거 및 초기화
  src/actions/usageStatsActions.ts
  src/services/realtime-monitoring-service.ts
Labels: frontend

fix: API 라우트의 실시간 모니터링 목업 데이터 완전 제거
  src/app/api/admin/live-stats/route.ts
  src/app/api/admin/realtime/route.ts
Labels: frontend

feat: 타로 해석 스타일 차별화 시스템 구축
  check-detailed-error.js
  check-navigation.js
  check-server-status.js
  main-page.png
  server-error-1754656372531.png
  server-status-1754656587431.png
  src/ai/prompts/tarot-style-prompts.ts
  src/data/tarot-spreads.ts
  src/types/index.ts
  커뮤니티-page.png
  타로리딩-page.png
  타로카드-page.png
Labels: frontend

feat: 완전한 42개 타로 지침 매트릭스 구현
  src/actions/readingActions.ts
  src/app/profile/readings/TarotReadingHistory.tsx
  src/data/tarot-guidelines.ts
  src/services/tarot-reading-service-file.ts
Labels: frontend

feat: 타로 리딩 원클릭 경험 공유 기능 구현 및 파일 저장 시스템 통합
  analyze-reading-page.js
  analyze-tarot-page.js
  check-guidelines-detailed.js
  check-tarot-guidelines-count.js
  complete-reading-test.js
  debug-share-button.js
  dev.log
  final-integration-test.js
  manual-share-test.js
  manual-test-guide.md
  missing-guidelines.ts
  src/actions/readingExperienceActions.ts
  src/app/community/reading-share/new/page.tsx
  src/components/reading/TarotReadingClient.tsx
  verify-42-guidelines.js
Labels: frontend, documentation

feat: 타로 교육 문의 백엔드 구현 및 리딩 경험 공유 파일 시스템 통합
  check-education-page.ts
  create-test-data.js
  debug-page.png
  dev.log
  education-form-filled.png
  education-success.png
  error-screenshot.png
  error-state.png
  final-state.png
  reading-share-after-save.png
  reading-share-detail.png
  reading-share-form-filled.png
  reading-share-form.png
  reading-share-list.png
  screenshots/test-error.png
  simple-education-test.js
  src/actions/educationInquiryActions.ts
  src/actions/readingExperienceActions.ts
  src/app/api/reading-experiences/[id]/route.ts
  src/app/api/reading-experiences/route.ts
  src/app/community/tarot-education/page.tsx
  src/services/reading-experience-service.ts
  src/types/index.ts
  tarot-education-01-initial.png
  tarot-education-02-faq-opened.png
  tarot-education-before-form.png
  tarot-education-error.png
  tarot-education-final.png
  tarot-education-top.png
  test-error.png
  test-reading-share.mjs
  test-tarot-education.spec.ts
  test-with-server.sh
  tests/debug-selectors.spec.ts
  tests/test-education-backend.spec.ts
  tests/test-save-complete.spec.ts
  tests/test-save-debug.spec.ts
  tests/test-save-simple.spec.ts
Labels: frontend, tests

feat: 교육 문의 관리자 페이지 완전 구현
  EDUCATION_INQUIRIES_TEST_REPORT.md
  admin-member-tab.png
  admin-stats-tab.png
  admin-system-tab.png
  admin-tab-0-AI-공급자AI.png
  admin-tab-1-타로-지침지침.png
  admin-tab-2-타로-AI타로.png
  admin-tab-3-꿈해몽-AI꿈.png
  admin-tab-4-블로그-관리블로그.png
  detailed-step1-direct-access.png
  detailed-step2-header-stats.png
  detailed-step3-kim-data.png
  detailed-step4-action-menu-clicked.png
  detailed-step5-dialog-opened.png
  detailed-step7-status-changed.png
  detailed-step9-final-state.png
  dialog-step1-page-loaded.png
  dialog-step2-action-menu.png
  dialog-step3-detail-clicked.png
  dialog-step4-dialog-content.png
  dialog-step6-status-change.png
  dialog-step7-after-save.png
  dialog-step9-final-result.png
  simple-admin-education-test.png
  src/app/admin/education-inquiries/components/InquiryDetail.tsx
  src/app/admin/education-inquiries/components/InquiryTable.tsx
  src/app/admin/education-inquiries/components/StatusFilter.tsx
  src/app/admin/education-inquiries/page.tsx
  src/app/admin/page.tsx
  step1-admin-page.png
  step2-education-tab-clicked.png
  step3-list-button-clicked.png
  step4-education-inquiries-page.png
  step5-kim-row-clicked.png
  tests/test-admin-inquiries.spec.ts
  tests/test-admin-member-system.spec.ts
Labels: frontend, tests, documentation

docs: 블로그 시스템 고도화 작업 지시서 작성
  BLOG_SYSTEM_NEXT_WORK_ORDER.md
Labels: documentation

fix: 블로그 시스템 Phase 2 핵심 기능 수정 완료
  BLOG_SYSTEM_PHASE2_WORK_ORDER.md
Labels: documentation

fix: 블로그 시스템 Phase 2 핵심 수정사항 적용
  src/actions/blogActions.ts
  src/app/admin/page.tsx
  src/app/api/blog/posts/[id]/route.ts
  src/app/api/blog/posts/route.ts
  src/components/admin/SimpleBlogManagement.tsx.bak
  src/components/admin/SimpleBlogManagementV3.tsx
  src/components/admin/SimpleBlogManagementV3.tsx.bak
  src/components/admin/_old_SimpleBlogManagement.tsx.bak
  src/components/admin/_old_SimpleBlogManagementV2.tsx.bak
  src/components/blog/BlogList.tsx
  src/components/blog/BlogMainServer.tsx
  src/components/blog/BlogMainWithPagination.tsx
  src/services/blog-service.ts
Labels: frontend

feat: SWARM PM 통합 최적화 작업지시서 및 검증 완료
  FOLDER_CLEANUP_WORK_ORDER.md
  INTEGRATED_WORK_ORDER.md
  LOADING_OPTIMIZATION_WORK_ORDER.md
  PERFORMANCE_OPTIMIZATION_WORK_ORDER.md
  swarm-pm-admin-1754748455661.png
  swarm-pm-blog-1754748432638.png
  swarm-pm-complete-verification.js
  swarm-pm-homepage-1754748421148.png
  swarm-pm-quick-check.js
Labels: documentation

feat: 누락된 페이지 구현 및 블로그 시스템 개선
  package-lock.json
  package.json
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/my-reading/page.tsx
  src/app/services/page.tsx
  src/components/blog/BlogList.tsx
Labels: frontend, ci/cd, dependencies, config

feat: 타로 카드 UI/UX 보호 정책 추가 - 시각적 요소 변경 금지 원칙 명시
  CLAUDE.md
Labels: documentation

fix: 타로 리딩 저장 오류 해결 - 디렉토리 자동 생성 로직 추가
  src/services/file-storage-service.ts
Labels: frontend

feat: 리딩 기록 메뉴 추가 및 표시 로직 개선
  src/components/layout/UserNav.tsx
  src/services/tarot-reading-service-file.ts
Labels: frontend

feat: 실제 사용 환경으로 전환 - Mock 인증 비활성화 및 데이터 정리
  .env.local
Labels: config

feat: 인증 시스템 전면 개선 - 카카오 로그인 추가 및 로그아웃 강화
  .env.local
  .env.production.example
  src/app/api/auth/kakao/callback/route.ts
  src/app/api/auth/kakao/route.ts
  src/app/auth/kakao/callback/page.tsx
  src/app/layout.tsx
  src/components/DevAuthHelper.tsx
  src/components/auth/KakaoLoginButton.tsx
  src/components/auth/SignInForm.tsx
  src/components/auth/SignUpForm.tsx
  src/components/layout/UserNav.tsx
  src/context/AuthContext.tsx
  src/lib/firebase/auth-providers.ts
Labels: frontend, backend, config

test: 프로덕트 전반 테스트 완료 및 결과 분석
  package-lock.json
  package.json
  product-comprehensive-test.js
  product-simple-test.js
  product-test-results.json
Labels: ci/cd, dependencies, config

perf: SEO 및 성능 최적화 완료 - UI/UX 변경 없음
  check-current-state.js
  check-optimization-results.js
  check-seo-updates.js
  next.config.ts
  package-lock.json
  src/app/community/page.tsx
  src/app/dream-interpretation/page.tsx
  src/app/layout.tsx
  src/app/robots.txt/route.ts
  src/app/sitemap.xml/route.ts
  src/app/tarot/metadata.ts
  src/components/lazy/LazyEditor.tsx
  src/components/lazy/LazyTarotCard.tsx
  src/components/seo/JsonLd.tsx
Labels: frontend, dependencies, config

fix: .env.local 파일을 Git 추적에서 제거
  .env.local
Labels: config

fix: Remove .env.local from git tracking
  src/.env.local
Labels: frontend

fix: Vercel 빌드 오류 수정
  package-lock.json
  package.json
  src/actions/usageStatsActionsCached.ts
  src/app/admin/optimized/page.tsx
  src/app/signup/route.ts
Labels: frontend, ci/cd, dependencies, config

fix: Vercel 빌드 오류 추가 수정
  package-lock.json
  package.json
  src/app/api/admin/realtime/route.ts
Labels: frontend, ci/cd, dependencies, config

fix: Vercel 프로덕션에서 블로그 포스트가 표시되지 않는 문제 수정
  check-blog-page.js
  check-correct-urls.js
  check-deployed-site.js
  check-problematic-pages.js
  src/app/api/blog/posts/route.ts
  src/app/blog/page.tsx
  src/components/blog/BlogJsonLd.tsx
Labels: frontend

feat: Firebase 연결 없이도 관리자 페이지가 작동하도록 개선
  admin-login-correct.js
  check-admin-login.js
  check-admin-page.js
  check-admin-with-auth.js
  check-blog-console.js
  check-blog-dom.js
  check-dev-mode.js
  inspect-login-page.js
  simple-admin-check.js
  src/app/api/admin/realtime/route.ts
  src/app/api/admin/system-status/route.ts
  src/components/admin/RealTimeMonitoringDashboard.tsx
  src/components/admin/UsageStatsCharts.tsx
  src/lib/firebase/development-mode.ts
Labels: frontend, backend

feat: 타로 리딩 스타일별 차별화 시스템 구현
  package-lock.json
  src/ai/flows/generate-tarot-interpretation.ts
  src/ai/services/tarot-style-service.ts
  src/app/admin-demo/page.tsx
  src/components/blog/BlogJsonLd.tsx
  src/components/tarot/StyleSelector.tsx
  src/config/tarot-styles.ts
  src/lib/firebase/admin.ts
  src/services/realtime-monitoring-service.ts
  src/services/tarot-instructions-service.ts
Labels: frontend, backend, dependencies, config

fix: 타로 리딩 CSRF 토큰 오류 해결
  admin-login-correct.js
  check-admin-login.js
  check-admin-page.js
  check-admin-with-auth.js
  check-blog-after-restart.js
  check-blog-console.js
  check-blog-detailed.js
  check-blog-dom.js
  check-blog-page.js
  check-correct-urls.js
  check-current-state.js
  check-deployed-site.js
  check-dev-mode.js
  check-optimization-results.js
  check-problematic-pages.js
  check-seo-updates.js
  complete-tarot-test.js
  debug-tarot-api.js
  docs/INCIDENT-REPORT-2025-08-11-CSRF.md
  final-debug-test.js
  final-tarot-test.js
  inspect-login-page.js
  product-comprehensive-test.js
  product-simple-test.js
  reproduce-tarot-error.js
  simple-admin-check.js
  simple-api-test.js
  simple-reading-test.js
  src/components/reading/TarotReadingClient.tsx
  src/lib/api/csrf.ts
  src/lib/api/tarot-api.ts
  src/middleware.ts
  tarot-reading-logs.json
Labels: frontend, backend, documentation, config

fix: Vercel 프로덕션 환경 오류 해결
  .vercelignore
  check-tarot-complete.js
  check-tarot-error.js
  check-tarot-simple.js
  check-vercel-issues.js
  final-tarot-check.js
  monitor-api-only.js
  quick-tarot-check.js
  src/actions/readingActions.ts
  src/app/blog/page.tsx
  src/components/reading/TarotReadingClient.tsx
  tarot-error-javascript.js
  tarot-error-test-final.js
  tarot-final-error-test.js
  tarot-test-log.txt
  verify-button-fix.js
Labels: frontend, config

fix: Vercel 인증 문제 해결 - public 설정 추가
  vercel.json
Labels: ci/cd, config

fix: Vercel 이미지 로딩 문제 해결 - unoptimized 속성 추가
  PM-이미지문제-분석보고서.md
  PM-작업지시서-Vercel-배포.md
  PM-작업지시서-블로그페이지문제해결.md
  check-vercel-production.js
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/blog/BlogList.tsx
  src/components/home/HeroSection.tsx
  src/components/layout/AuthLayout.tsx
  src/components/layout/Navbar.tsx
  vercel-init.sh
  vercel-test-playwright.js
  vercel.json
  verify-images-chromium.js
Labels: frontend, ci/cd, documentation, dependencies, config

fix: Vercel 이미지 배포 문제 해결 - .vercelignore 수정
  .vercelignore
Labels: config

fix: 타로 카드 이미지 누락 문제 해결 - .vercelignore 재수정
  .vercelignore
  PM-긴급보고-원인발견.md
  PM-작업지시서-이미지404문제해결.md
  PM-최종보고서-이미지문제.md
  PM-최종성공보고서.md
  PM-추가이미지문제-보고서.md
  verify-all-pages-images.js
  verify-images-fixed.js
Labels: documentation, config

.github/labeler.yml:

# Add labels to PRs based on file changes
frontend:
  - src/**/*
  - '*.tsx'
  - '*.jsx'

backend:
  - src/api/**/*
  - src/lib/**/*

styles:
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'
  - 'tailwind.config.*'

tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - 'jest.*'
  - 'playwright.*'

ci/cd:
  - '.github/**/*'
  - 'vercel.json'
  - 'package.json'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'

config:
  - '*.config.*'
  - '*.json'
  - '.env*'
  - '.*rc*'
