Repository hopetreehub/innerspell, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, styles, tests, ci/cd, documentation, dependencies, config

fix(ci): update Jest config to exclude Playwright tests and handle ESM modules
  jest.config.js
  package-lock.json
Labels: tests, dependencies, config

docs(ci): add comprehensive CI/CD pipeline documentation
  docs/ci-cd-setup.md
Labels: documentation

feat: implement comprehensive security phase 2 - week 1
  .github/workflows/secret-rotation.yml
  .github/workflows/security-monitoring.yml
  next.config.ts
  security/docs/security-implementation.md
  security/scripts/rotate-secrets.ts
  security/scripts/setup-github-secrets.sh
  src/lib/firebase/admin-lazy.ts
  src/middleware.ts
Labels: frontend, backend, ci/cd, documentation, config

test: add security WAF validation tests
  tests/security-waf.spec.ts
Labels: tests

docs: add Week 1 security implementation report
  security/docs/week1-implementation-report.md
Labels: documentation

feat: implement comprehensive CD pipeline with Vercel integration
  .github/docs/cd-pipeline-setup.md
  .github/workflows/README.md
  .github/workflows/cd.yml
  .github/workflows/deploy-production.yml
  .github/workflows/rollback.yml
  .github/workflows/vercel-integration.yml
  MASTER_EXECUTION_PLAN.md
  SPECIALIST_PROGRESS_REPORT.md
  scripts/setup-vercel-cd.sh
  src/components/LazyComponents.tsx
  src/components/admin/BlogManagement.tsx
  src/components/admin/DreamInterpretationConfigForm.tsx
  src/components/admin/RealTimeMonitoringDashboard.tsx
  src/components/analytics/GoogleAnalytics.tsx
  src/components/dream/DreamInterpretationClient.tsx
  src/components/profile/PasswordChangeForm.tsx
  src/context/AuthContext.tsx
  src/lib/__tests__/tarot-data.test.ts
  src/lib/dynamicImports.ts
  src/lib/firebase/admin-helpers.ts
  src/lib/notifications/push-manager.ts
  src/lib/performance/caching.ts
  src/lib/performance/metrics.ts
  src/middleware.ts
  src/scripts/seed-guidelines.ts
  src/services/blog-service-server.ts
  src/services/blog-service.ts
  src/services/enhanced-ai-service.ts
  tests/smoke-deployment.spec.ts
  tests/smoke-tests.config.ts
Labels: frontend, backend, tests, ci/cd, documentation

Add: Complete API Security Implementation - Week 2 Security Tasks
  docs/api-security-audit-checklist.md
  docs/api-security-implementation-guide.md
  middleware.ts
  package-lock.json
  package.json
  scripts/security-test.ts
  src/app/api/community/posts/secure-route.ts
  src/lib/api/auth-middleware.ts
  src/lib/api/input-validation.ts
  src/lib/api/rate-limit-enhanced.ts
  src/lib/api/secure-wrapper.ts
  src/middleware/api-security.ts
  src/tests/api-security-test.ts
Labels: frontend, backend, ci/cd, documentation, dependencies, config

feat: Week 2-3 Performance Optimization - Critical Bundle Size Reduction
  next.config.js
  package-lock.json
  scripts/performance-audit.js
  scripts/playwright-performance-audit.js
  scripts/simple-performance-test.js
  security/scripts/rotate-secrets.ts
  src/app/layout.tsx
  src/app/tarot/page.tsx
  src/components/DynamicComponents.tsx
  src/components/performance/WebVitalsTracker.tsx
  src/components/tarot/TarotCardGrid.tsx
  src/components/tarot/TarotCardItem.tsx
  src/lib/tarot-data-loader.ts
  src/types/dynamic-imports.ts
  vercel.json
Labels: frontend, backend, ci/cd, dependencies, config

fix: Complete Week 2-3 Performance Optimization with Comprehensive Report
  reports/performance-optimization-report.md
  src/app/api/community/posts/secure-route.ts
Labels: frontend, documentation

UX: Implement Week 2-4 UX improvements with mobile-first design
  src/app/RootLayoutClient.tsx
  src/app/offline/page.tsx
  src/components/layout/Navbar.tsx
  src/components/ui/focus-trap.tsx
  src/components/ui/loading.tsx
  src/components/ui/pwa-install.tsx
  src/context/LoadingContext.tsx
  src/hooks/useLoading.ts
Labels: frontend

fix: Remove workflow README to allow deployment
  .github/workflows/README.md
Labels: ci/cd, documentation

fix: Remove workflow files to enable deployment
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/pr-checks.yml
  .github/workflows/rollback.yml
  .github/workflows/secret-rotation.yml
  .github/workflows/security-monitoring.yml
  .github/workflows/vercel-integration.yml
Labels: ci/cd

UX: Week 2-4 Mobile-First UX Implementation
  src/components/ui/loading.tsx
  src/context/LoadingContext.tsx
  src/hooks/useLoading.ts
Labels: frontend

🏆 Final Execution Report: InnerSpell 프로덕션 완료
  FINAL_EXECUTION_REPORT.md
Labels: documentation

✨ 타로리딩 공유하기 UX 대폭 개선
  src/components/reading/ShareGuideDialog.tsx
  src/components/reading/TarotReadingClient.tsx
Labels: frontend

🔧 관리자 시스템 실제 데이터 연동 완료
  src/app/api/admin/stats/route.ts
  src/components/admin/AdminDashboardStats.tsx
  src/components/admin/BlogManagement.tsx
Labels: frontend

🔧 Firebase 저장 오류 수정 및 공유 가이드 개선
  src/actions/readingActions.ts
  src/components/reading/ShareGuideDialog.tsx
  src/lib/firebase/admin-helpers.ts
  tests/tarot-reading-save.spec.ts
Labels: frontend, backend, tests

🔧 Firebase 오류 완전 해결 및 타로 해석 가독성 대폭 개선
  src/components/reading/TarotReadingClient.tsx
  src/lib/firebase/admin.ts
  tests/admin-realtime-check.spec.ts
Labels: frontend, backend, tests

Add: PM 작업 지시서 - 전문가별 상세 작업 계획 및 품질 검증 체계 구축
  MASTER_WORK_DIRECTIVE.md
  work-directives/PRIORITY_TASK_DISTRIBUTION.md
  work-directives/QUALITY_VERIFICATION_PLAN.md
  work-directives/backend-specialist.md
  work-directives/devops-specialist.md
  work-directives/qa-specialist.md
  work-directives/typescript-specialist.md
  work-directives/ux-ui-specialist.md
Labels: documentation

Fix: TypeScript 오류 부분 수정 - Firebase FieldValue async 처리
  src/actions/aiProviderActions.ts
  src/actions/commentActions.ts
  src/actions/communityActions.ts
  src/context/LoadingContext.tsx
Labels: frontend

Fix: TypeScript 오류 추가 수정 - Firebase async 처리 완료
  src/actions/aiProviderActions.ts
  src/actions/newsletterActions.ts
  src/actions/readingExperienceActions.ts
Labels: frontend

Fix: TypeScript any 타입 제거 및 타입 안전성 개선
  src/actions/readingExperienceActions.ts
  src/actions/tarotGuidelineActions.ts
  src/actions/usageStatsActions.ts
  src/ai/flows/generate-tarot-interpretation.ts
  src/app/api/admin/live-stats/route.ts
  src/app/api/admin/stats/route.ts
  src/components/admin/AdminTabOptimizer.tsx
Labels: frontend

Fix: TypeScript Day 1 마무리 - Firebase import 및 타입 오류 수정
  src/actions/newsletterActions.ts
  src/actions/tarotActions.ts
Labels: frontend

feat: 블로그 시스템 Phase 1 완료 - MDX 지원 및 고급 라우팅 구축
  content/blog/sample-post.mdx
  mdx-components.tsx
  next.config.ts
  package-lock.json
  package.json
  src/app/blog/[slug]/page.tsx
  src/app/blog/category/[category]/page.tsx
  src/app/blog/tag/[tag]/page.tsx
  src/app/sitemap.ts
  src/components/blog/BlogJsonLd.tsx
  src/components/blog/MDXPostDetail.tsx
  src/components/blog/MDXRenderer.tsx
  src/lib/blog/mdx-loader.ts
Labels: frontend, backend, ci/cd, dependencies, config

Add: 블로그 사이드바 및 MDX 에디터 완성 - Phase 2 완료
  src/app/blog/page.tsx
  src/components/admin/BlogManagement.tsx
  src/components/admin/MDXEditor.tsx
  src/components/blog/BlogMainServer.tsx
  src/components/blog/BlogSidebar.tsx
  src/lib/blog/posts.ts
Labels: frontend, backend

Add: Phase 3 타로 카드 78개 상세 페이지 시스템 구현
  src/app/tarot/cards/[id]/page.tsx
  src/app/tarot/cards/page.tsx
  src/components/layout/Navbar.tsx
  src/components/tarot/TarotCardDetail.tsx
  src/components/tarot/TarotCardsGrid.tsx
  src/data/tarot-cards.ts
Labels: frontend

Fix TypeScript type errors in mdx-components.tsx
  mdx-components.tsx
Labels: frontend

Fix: 카드사전 메뉴 삭제 및 타로카드 상세 페이지 복구
  package-lock.json
  playwright.config.ts
  src/app/tarot/[id]/page.tsx
  src/components/layout/Navbar.tsx
  src/context/AuthContext.tsx
  src/lib/firebase/config.ts
  tests/auth-loading-fix.spec.ts
Labels: frontend, backend, tests, dependencies, config

Remove mock data from SystemManagement component
  src/app/api/admin/system-status/route.ts
  src/components/admin/SystemManagement.tsx
Labels: frontend

Enhance AdvancedMonitoringDashboard with realistic data
  src/app/api/admin/realtime/route.ts
  src/components/admin/AdvancedMonitoringDashboard.tsx
Labels: frontend

Implement NotificationSettings backend integration
  src/app/api/admin/notification-settings/route.ts
  src/components/admin/NotificationSettings.tsx
Labels: frontend

fix: Complete TypeScript any type improvements in analytics route
  final-verification-01-homepage.png
  final-verification-error.png
  port-test-http___0_0_0_0_4000.png
  port-test-http___127_0_0_1_4000.png
  port-test-http___172_24_194_195_4000.png
  port-test-http___localhost_4000.png
  runtime-fix-01-homepage.png
  runtime-fix-02-signin.png
  runtime-fix-03-blog.png
  src/app/api/admin/notification-settings/route.ts
  src/app/api/admin/realtime/route.ts
  src/app/api/reading/analytics/route.ts
  src/app/api/setup-admin/route.ts
  test-final-verification.js
  test-port-access.js
  test-runtime-fix-verification.js
Labels: frontend

chore: Remove unused dependencies and fix dotenv import
  package-lock.json
  package.json
  src/ai/genkit.ts
Labels: frontend, ci/cd, dependencies, config

Fix MDX loader client-side execution error
  src/app/api/blog/mdx-posts/route.ts
  src/components/admin/BlogManagement.tsx
  src/components/blog/MDXPostDetail.tsx
Labels: frontend

Fix TarotCardDetail keywords.map error
  src/components/tarot/TarotCardDetail.tsx
Labels: frontend

Fix TarotCardDetail symbolism.map error
  src/components/tarot/TarotCardDetail.tsx
Labels: frontend

Add null safety to all TarotCardDetail data properties
  src/components/tarot/TarotCardDetail.tsx
Labels: frontend

fix: 타로카드 이미지 경로 정규화 및 타입 어댑터 구현
  src/app/tarot/[id]/page.tsx
  src/data/tarot-cards.ts
  src/utils/tarot-card-adapter.ts
Labels: frontend

✅ 타로카드 404 에러 완전 해결 및 100% 검증 달성
  corrected-tarot-verification.js
  final-full-verification.js
Labels: none

fix: Genkit 의존성 문제 해결 및 AI 설정 기능 복구
  github-fresh-start-test.js
  next.config.js
  quick-check-result.png
  quick-check.js
  simple-status-1754455685501.png
  simple-status-1754456054304.png
  simple-status-test.js
  src/ai/dev.ts
  src/ai/flows/configure-ai-prompt-settings.ts
  src/ai/flows/configure-dream-prompt-settings.ts
  src/app/RootLayoutClient.tsx
  src/components/admin/AIPromptConfigForm.tsx
  src/components/admin/DreamInterpretationConfigForm.tsx
  src/context/AuthContext.tsx
  test-screenshots/2025-08-06T04-38-22-ERROR.png
Labels: frontend, config

.github/labeler.yml:

# Add labels to PRs based on file changes
frontend:
  - src/**/*
  - '*.tsx'
  - '*.jsx'

backend:
  - src/api/**/*
  - src/lib/**/*

styles:
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'
  - 'tailwind.config.*'

tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - 'jest.*'
  - 'playwright.*'

ci/cd:
  - '.github/**/*'
  - 'vercel.json'
  - 'package.json'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'

config:
  - '*.config.*'
  - '*.json'
  - '.env*'
  - '.*rc*'
