Repository hopetreehub/innerspell, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, styles, tests, ci/cd, documentation, dependencies, config

.github/labeler.yml:

# Add labels to PRs based on file changes
frontend:
  - src/**/*
  - '*.tsx'
  - '*.jsx'

backend:
  - src/api/**/*
  - src/lib/**/*

styles:
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'
  - 'tailwind.config.*'

tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - 'jest.*'
  - 'playwright.*'

ci/cd:
  - '.github/**/*'
  - 'vercel.json'
  - 'package.json'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'

config:
  - '*.config.*'
  - '*.json'
  - '.env*'
  - '.*rc*'

fix: 타로 카드 페이지 이미지 최적화 비활성화
  final-image-check.js
  src/app/tarot/page.tsx
Labels: frontend

fix: 타로 카드 선택 인터랙션 문제 해결 및 UX 개선
  src/app/globals.css
  src/components/reading/TarotReadingClient.tsx
Labels: frontend, styles

fix: Vercel 타로 해석 오류 해결 - 환경변수 로딩 개선
  src/ai/flows/generate-tarot-interpretation.ts
  src/ai/genkit.ts
  src/app/api/debug-env/route.ts
  src/app/api/generate-tarot-interpretation/route.ts
  src/app/api/test-tarot/route.ts
Labels: frontend

fix: Vercel 타로 해석 CSRF 토큰 오류 해결
  src/middleware.ts
Labels: frontend

fix: 타로 해석 API CSRF 검증 완전 비활성화
  src/middleware.ts
Labels: frontend

fix: CSRF 에러 완전 해결 - admin/activities API 포함
  src/middleware.ts
Labels: frontend

🚨 EMERGENCY: CSRF 완전 우회 - 강제 리빌드
  src/middleware.ts
Labels: frontend

fix: Vercel 환경에서 타로 리딩 저장 문제 해결
  VERCEL_FIREBASE_SETUP.md
  package-lock.json
  package.json
  src/actions/readingActions.ts
  src/app/api/save-reading/route.ts
  src/components/reading/TarotReadingClient.tsx
  src/middleware.ts
Labels: frontend, ci/cd, documentation, dependencies, config

fix: AI 모델 요청 제한 오류 해결
  src/ai/services/ai-rate-limiter.ts
  src/app/api/debug/reset-rate-limit/route.ts
  src/middleware.ts
Labels: frontend

fix: Vercel 저장 API CSRF 토큰 및 환경 감지 개선
  src/app/api/save-reading/route.ts
  src/components/reading/TarotReadingClient.tsx
Labels: frontend

fix: 저장 기능 최종 단순화 (깨끗한 버전)
  src/app/api/simple-save/route.ts
  src/components/reading/TarotReadingClient.tsx
  src/middleware.ts
Labels: frontend

fix: Firebase 사용자 프로필 자동 생성 및 Firestore 인덱스 추가
  firestore.indexes.json
  src/actions/readingActions.ts
  src/actions/readingExperienceActions.ts
  src/lib/firebase/ensure-user-profile.ts
Labels: frontend, backend, config

feat: 비로그인 사용자 해석 제한 기능 추가
  src/components/reading/TarotReadingClient.tsx
Labels: frontend

docs: 관리자 시스템 Vercel 마이그레이션 작업지시서 작성
  work-order-admin-vercel-migration.md
Labels: documentation

feat: 타로 히스토리 페이지 안정성 강화 및 인증 라우팅 개선
  src/app/signin/route.ts
  src/app/tarot/history/page.tsx
Labels: frontend

feat: 관리자 시스템 데이터 소스 추상화 구현 (Phase 1)
  src/lib/admin/data-source-factory.ts
  src/lib/admin/data-sources/base-data-source.ts
  src/lib/admin/data-sources/firebase-data-source.ts
  src/lib/admin/data-sources/mock-data-source.ts
  src/lib/admin/index.ts
  src/lib/admin/types/data-source.ts
Labels: frontend, backend

feat: 실시간 모니터링 시스템 데이터 소스 마이그레이션 (Phase 3)
  complete-community-test.js
  debug-card-selection.js
  dev.pid
  final-community-test.js
  manual-community-test.js
  package-lock.json
  redirect-verification-screenshots/redirect-test-report.json
  src/actions/realtimeMonitoringActions.ts
  src/components/admin/RealTimeMonitoringDashboard.tsx
  vercel-save-implementation-summary.md
  work-order-fix-port-4000-404-errors.md
  work-order-remove-anonymous-auth.md
  work-order-vercel-save-with-login.md
  work-order-vercel-tarot-save-implementation.md
Labels: frontend, documentation, dependencies, config

feat: 관리자 통계 시스템 데이터 소스 마이그레이션 (Phase 2)
  src/actions/usageStatsActions.ts
  src/app/api/admin/stats/route.ts
  src/services/usage-stats-service.ts
Labels: frontend

feat: Mock 데이터 개선 및 실시간 모니터링 데이터 표시
  docs/VERCEL_FIREBASE_SETUP_GUIDE.md
  src/actions/realtimeMonitoringActions.ts
  src/lib/admin/data-sources/blog-operations.ts
  src/lib/admin/data-sources/mock-data-source.ts
Labels: frontend, backend, documentation

chore: trigger vercel redeployment
  .env.vercel.example
  DEPLOYMENT_COMPLETE.md
  EMERGENCY_ENV_VARS.md
  PM-작업지시서-Firebase실제데이터연동및블로그마이그레이션.md
  PRODUCTION_CHECKLIST.md
  docs/DEPLOYMENT_GUIDE.md
  docs/FINAL_FIREBASE_INTEGRATION_REPORT.md
  docs/FIREBASE_SETUP_GUIDE.md
  docs/PHASE1_FIREBASE_CONNECTION_REPORT.md
  docs/PHASE2_FIREBASE_STRUCTURE_REPORT.md
  docs/PHASE3_FIREBASE_DATASOURCE_REPORT.md
  docs/PHASE4_BLOG_MIGRATION_REPORT.md
  docs/PHASE6_DEPLOYMENT_MONITORING_REPORT.md
  package-lock.json
  package.json
  scripts/deploy-to-vercel.sh
  scripts/run-firebase-setup.js
  scripts/setup-firebase-structure.ts
  src/actions/blogActions.ts
  src/app/api/admin/firebase-status/route.ts
  src/app/api/admin/monitoring/route.ts
  src/app/api/admin/setup-firebase/route.ts
  src/lib/admin/data-source-factory.ts
  src/lib/admin/data-sources/firebase-data-source.ts
  src/lib/firebase/admin.ts
  vercel.json
Labels: frontend, backend, ci/cd, documentation, dependencies, config

fix: 블로그 관리 Invalid time value 에러 수정
  src/app/api/blog/posts/route.ts
  src/components/admin/BlogManagement.tsx
  src/components/admin/SimpleBlogManagementV3.tsx
Labels: frontend

fix: POST /admin 500 에러 해결
  src/actions/blogActions.ts
Labels: frontend

fix: 블로그 보기 404 에러 해결 (slug 기반 URL 체계)
  src/app/blog/[slug]/page.tsx
  src/lib/blog/posts.ts
Labels: frontend, backend

fix: 블로그 이미지 업로드 403 에러 해결
  src/components/admin/BlogManagement.tsx
  src/components/admin/SimpleBlogManagementV3.tsx
Labels: frontend

feat: Firebase Storage를 사용한 이미지 업로드 시스템 구현
  src/app/api/blog/upload/route.ts
  src/lib/firebase/admin.ts
  src/middleware.ts
  tests/blog-image-upload-test.spec.ts
  tests/blog-upload-403-test.spec.ts
  tests/blog-upload-vercel-fix.spec.ts
Labels: frontend, backend, tests

feat: Encyclopedia 페이지 추가로 Vercel 404 오류 해결
  src/app/encyclopedia/page.tsx
Labels: frontend

feat: Encyclopedia 페이지 추가로 Vercel 404 오류 해결
  src/app/encyclopedia/page.tsx
Labels: frontend

fix: Vercel 블로그 관리 403 오류 해결
  final-verification.js
  public/uploads/blog/MAYcIXVFvdfKmWlQKPXR__1755198854415.jpg
  public/uploads/blog/aBx0-NJUDaT3JXSwUm0Y3_1755199523324.jpg
  public/uploads/blog/sfcl9L_Ojwq2IHdyJKVET_1755198840716.jpg
  src/app/api/blog/posts/[id]/route.ts
  src/app/api/blog/upload-firebase/route.ts
  src/hooks/use-csrf-fetch.ts
  src/middleware.ts
  verify-encyclopedia.js
Labels: frontend

fix: 타로 해석 템플릿 스프레드별 분리 구현
  check-blog-after-restart.js
  check-blog-detailed.js
  check-blog-page.js
  check-current-state.js
  check-optimization-results.js
  check-seo-updates.js
  final-verification.js
  postcss.config.mjs
  product-comprehensive-test.js
  product-simple-test.js
  src/actions/readingActions.ts
  src/ai/flows/generate-tarot-interpretation.ts
  src/ai/prompts/spread-specific-prompts.ts
  src/app/api/generate-tarot-interpretation/route.ts
  src/components/reading/TarotReadingClient.tsx
  test-reading-share.mjs
  validate-completion.mjs
  validate-final.mjs
  validate-tarot-accurate.mjs
  validate-tarot-data.mjs
  verify-encyclopedia.js
Labels: frontend, config
